# Ignore Python bytecode files and caches
__pycache__/
*.pyc

# Ignore coverage reports
.coverage
htmlcov/

# Ignore pytest cache
.pytest_cache/

# Ignore environment files
.env

# Ignore any virtual environments
venv/
